
*{
    padding: 0;
    margin: 0;
    

}

header {
    padding: ;
    background-color: white ;


}
 header img {
 display: flex;
 justify-content: space-evenly;
 
}

 header button {
    padding: 5px;
    background-color: rgb(70, 68, 68);
    display: flex;
    justify-content: center;
    
}

header button:hover {
    border-radius: 2px;
    color: grey;
    transition: 0.3s;
}



 /* BACKGROUND-LINEAR-GRADIENT (180 deg., #   */
 .section-01 {
    background: linear-gradient(linear-gradient(90deg, rgba(2,0,36,1) 1%, rgba(210,185,196,0.8883928571428571) 12%, rgba(0,212,255,1) 29%)),url(woman-5864279_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px;

 }