
/* ESTILIZAÇÃO GLOBAL*/

*{
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;

}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    background-color:#c6d8c0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
}

.fa-house {
    
    color: #fdfdfd;
    font-size: 30px;
    
}

    /*ESTILIZANDO A DIV QUE CONTÉM O FORMULÁRIO*/
    
.div-form {
    background-color: #c8c8a9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #464343;
    width: 300px;
    height: 450px;
}
.acess:hover{
    color: #464343;
    font-size: 16px;
    color: #fdfdfd
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px; /* margem inferior*/
    font-weight: bold; /* Largura da fonte*/
}


.imob {
    padding: 10px; /*espassamento interno*/
    margin-bottom: 15px; /*espassamento inferior dos input*/
    font-size: 16px; /*tamanho da letra*/
    border-radius: 5px;/*bordas arredondadas*/
    border: 2px solid #f9cdad; /*inserir bordas nos input*/
}


.btn-form {
    background-color: #83af9b ;
    color: #e9dcd3;
    padding: 10px; /* espaçamento interno*/
    border: none;/* botda: nenhuma: sem borda*/
    border-radius: 5px; /* arredondamento do botão*/
    font-size: 16px; /* tamanho da letra*/
    cursor: pointer; /* tipo de cursor de mouse*/
}

.btn-form {
    background-color: #58687580;
    transition: 0.3s;

}

h2, p {
    margin-bottom: 15px;
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    text-align: center;
    color: #464343;
}





