* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

header {
    padding: 25px;
    background-color: #586875;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;

}

header i {
    color: #fdfdfd;
    font-size: 60px;

}

header h1 {
    color: #fdfdfd;
    font-family: "Dancing Script", cursive;
    font-size: 45px;
    font-weight: 800;
}



.inicio ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
   
}

.inicio ul li a {
    font-family: "Dancing Script", cursive;
    color: #bdd6d2;


}


.Venda div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
    background-color: #bdd6d2;


}

.div h3 {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    color: #586875;
    padding: 100px;
    
}



.mostruario div:hover {
  
    box-shadow: 10px 10px 20px  #586875;  /* Responsável por sombrear a imagem das ciaxas (um valor cuida da sombra lateral das cixas, 2 valor sombra inferior, 3 sombra de baixo das caixas)*/
    
    border-radius: 15px ;
}


.mostruario {
    padding: 150px;
    background-color: #bdd6d2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 30px;
}




.fotos {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}



.fotos2 {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.fotos2 div {
    width: 400px;
    height: 400px;
}

.fotos div {
    width: 400px;
    height: 400px;
}


.casa-moderna {
    width: 300px;
    border-radius: 10px;
}

.casa-moderna p {
    color: #586875;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    text-align: center;
    justify-content: space-evenly;

}

.span {
    padding: 30px;
    color: #586875; 
    font-family: "Dancing Script", cursive;
    font-size: 30px;


}
 









.footer {
    padding: 25px;
    background-color: #586875;
    text-align: center;


}

.footer i {
    padding: 10px;
    color: #fdfdfd;
    font-size: 20px;
    
}



.footer h2 {
    padding: 10px;
    color: #fdfdfd;
    font-family: "Dancing Script", cursive

    


}
 .footer p {
    padding: 10px;
     color: #fdfdfd;
     font-size: 10px;
     gap: 10px;
   
 }